################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConwaysGameLife/.vs/ConwaysGameLife/v16
